@model HCrawler.Api.ViewModels.Page<HCrawler.Core.Repositories.Models.DetailedImage>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<div class="container" style="max-width: 500px;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title">Imager</h1>
            </a>
            @if (Model.Name is object)
            {
                <a href="/?name=@Model.Name">
                    <div style="padding-top: 18px">
                        <div class="tag">
                            @Model.Name
                        </div>
                    </div>
                </a>
            }
        </div>

    </nav>
    @foreach (var image in Model.Results)
    {
        <div style="padding-bottom: 5px; padding-top: 5px">
            <figure class="image">
                @if (image.Path.Contains("mp4"))
                {
                    <video muted autoplay loop>
                        <source src="@image.Profile.DetailedSource.Name/@image.Path" type="video/mp4">
                    </video>
                }
                else
                {
                    <img src="@image.Profile.DetailedSource.Name/@image.Path"/>
                }
            </figure>
        </div>
        @if (Model.Name == null)
        {
            <a href="/?name=@image.Profile.Name">
                <div style="padding-left: 10px">
                    <div class="tag">
                        @image.Profile.Name
                    </div>
                </div>
            </a>
        }
    }
    <nav class="pagination is-right" role="navigation" style="padding-top: 5px" aria-label="pagination">
        @if (Model.Previous is object)
        {
            <a class="pagination-previous" href="/?checkpoint=@Model.Previous@(Model.Name is object ? $"&name={Model.Name}" : "")">Previous</a>
        }
        <a class="pagination-next" href="/?checkpoint=@Model.Next@(Model.Name is object ? $"&name={Model.Name}" : "")">Next page</a>
    </nav>
</div>
</body>
</html>